<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
      <form action="/" method="post">
        <label for="opcion">Ingrese la cantidad de alimentos:</label>
        <input type="text" id="opcion" name="cantidad" ><br>
        <button type="button" class="btn btn-primary btn lg" 
        style="background-color:#03b6fc; border-color:black;">INICIAR CARGA</button>
<body>
<img src="static/images/smart-belt.jpg" class="img-fluid" alt="" width="400" height="400">
</body>

<table class="table-striped">
  <tbody>
    <tr>
      <th scope="row"></th>
      <td><strong>Aw Frutas:<strong/></td>
    </tr>
     <tr>
       <th scope="row"</th>
       <td>Aw manzana: {{ awm }}</td>
     </tr>
     <th scope="row"></th>
     <td>Aw kiwi: {{ awk }}</td>
    <tr>
      <th scope="row"></th>
      <td><strong>Aw Verduras:</strong></td>
    </tr>
     <tr>
       <th scope="row"></th>
       <td>Aw papas: {{ awp }}</td>
     </tr>
      <tr>
        <th scope="row"></th>
        <td>Aw zanahorias: {{ awz }}</td>
      </tr>
    <tr>
      <th scope="row"></th>
      <td><strong>aw Total:</strong></td>
    </tr>
  </tbody>
</table>
</body>
</html>